body{
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* TOP SECTION */
.top-banner{
    width: 100%;
    height: 100vh;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.top-banner-container{
    margin:auto;
    padding-top: 10%;
    width: 50%;
    text-align: center; 
    color: rgb(255, 255, 255);
}
.top-banner-container h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    
}
.donate-button{
    border-style: none;
    font-weight: 900;
    font-size: 20px;
    margin: 20px 10px;
    padding: 10px 50px;
    color: white;
    background-color: coral;
    border-radius: 5px;
   
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.219) ;
}
/* MID TOP SECTION */
.mid-top{
text-align: center;

}
.mid-top-text{
    
    text-align: center;
}
.mid-top-text h1{
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 50px;
}
.mid-top-text p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.mid-top-container{
    display: flex;
}
.mid-top-container{
    margin-left: 30%;
}
.mid-top-five{
    color: gray;
    margin-left:10px;
    padding: 25px 35px;
    border-style: none;
    background-color: rgba(182, 181, 181, 0.096);
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.075);
    border-radius: 5px;
}
#h1-tk-color{
    border: 2px solid rgb(241, 75, 75);
    background-color: rgba(247, 98, 98, 0.205);
}
.tk-input{
    margin-top: 1%;
    text-decoration: antiquewhite;
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    box-shadow:  0px 2px rgba(161, 160, 160, 0.678);
}
/* MID LOW SECTION */
.mid-low{
    text-align: center;
}
.mid-low-text h1{
    font-size: 50px;
    margin-top: 4%;
    margin-bottom: 1%;
}
.mid-low-container{
    display: flex;
    margin-left: 10%;
}
.mid-low-three{
    width: 25%;
    text-align: left;
    border-radius: 5px;
    margin-left: 2%;
    padding: 1%;
    height: 400px;
    
}
.mid-low-img{
    width: 15%; 
}
.mid-low-three p{
    width: 100%;
}
#package-one{
    background-color: rgba(179, 226, 247, 0.233);
}
#package-two{
    background-color: rgba(255, 192, 203, 0.212);
}
#package-three{
    background-color: rgba(255, 255, 0, 0.226);
}
/* THIS IS BLOG SECTION */
.blog-container{
    display: flex;
}
.half-width{
    text-align: left;
    width: 100%;
    margin-left: 7%;
    margin-top: 5%;
}
.half-width img{
    border-radius: 10px;
    width: 80%;
}
.half-width p{
    width: 70%;
}
.second-blog-container{
    display: flex;
}
/* THIS THIS LOW SECTION */
.low-container{
    margin-top: 5%;
    text-align: center;
}
.low-text h1{
    font-size: 50px;
    margin-bottom: 1%;
}
/* THIS IS FORM SECTION */
.form{
    float: left;
    display: flex;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    background-color: rgb(245, 224, 184);
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5%;
}
.input-email{
          width: 35%;
          padding: 15px 20px;
          text-align: left;
          font-size: 20px;
          outline: 0;
          margin-left: 20%;
          border: 0;
          background-color: antiquewhite;
          height: 30px;
          margin-top: 8%;
          border-radius:5px 0 0 5px ;

}

#subscribe{
    border: 0;
    outline: 0;
    width: 20%;
    padding: 15px 20px;
    text-align: center;
    background-color: coral;
    height: 60px;
    margin-top: 8%;
    font-size: 20px;
    color: white;
    border-radius:0 5px 5px 0 ;
}
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-top: 3%;
}
.footer-text{
    color: rgb(255, 255, 255);
    padding: 2%;
    
}
.footer-text h1{
    color: rgb(238, 136, 136);
    font-family: 'Lobster', cursive;
}